<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hackergram::challenge</title>
</head>
<body style="background-color: powderblue; color:white;">

  
    <a style="padding: 5px 20px; background-color:black; border:1px solid greenyellow; text-decoration: none;color:white;font-size: 20px;" href="http://localhost:8080/dashboard">Back to Dashboard</a> <h1 style="text-align: center;color:black;font-weight: bold;">Start-hacking:@Here</h1>
    <div style="background-color:white; width:30%;height: 330px;float:left;">
        <h2 style="color: white;background:black; height: 40px;text-align: center;padding-top: 10px; ">CRYPTOGRAPHY</h2>
    <p style="font-size: 15px;padding-left: 20px;height: 80px; color: black;"><%= result11 %></p><br>
    <a style="padding-left: 20px;font-size: 15px;color:black; text-decoration: none; " href="" >Link:<%= result12 %> </a>
  
    <form action="key1" method="POST">
      <label style="position: relative;top:25px;color:black;left:20px;" for="">KEY</label>  <input style="position: relative;top:25px;color:black;left:22px;height: 20px;width: 300px " placeholder="HTB{Key}" type="text" id="key-form1" name="key1">
      <br><br><br>
      <input style="margin-left: 15px; background-color: black;color:white;padding:8px 30px;border:1px solid white;" type="submit" value="submit">
    </form>
    </div>



    <div style="background-color:white; width:30%;height: 330px;float:left;margin-left: 40px;">
        <h2 style="color: white;background:black; height: 40px;text-align: center;padding-top: 10px; ">SQL INJECTION</h2>
    <p style="font-size: 15px;padding-left: 20px;height: 80px; color: black;"><%= result21 %></p><br>
    <a style="text-decoration: none; padding-left: 20px;font-size: 15px;color:black; " href="" > Link:<%= result22 %> </a>
    <form action="key2" method="POST">
        <label style="position: relative;top:25px;color:black;left:20px;" for="">KEY</label>  <input style="position: relative;top:25px;color:black;left:22px;height: 20px;width: 300px " placeholder="HTB{Key}" type="text" name="key1">
        <br><br><br>
        <input style="margin-left: 15px; background-color: black;color:white;padding:8px 30px;border:1px solid white;" type="submit" value="submit">

      </form>    
    </div>

    

    <div style="background-color:white; width:30%;height: 330px;float:left;margin-left: 40px;">
        <h2 style="color: white;background:black; height: 40px;text-align: center;padding-top: 10px; ">XSS INJECTION</h2>
    <p style="font-size: 15px;padding-left: 20px;height: 80px;color: black;"><%= result31 %></p><br>
    <a style="text-decoration: none; padding-left: 20px;font-size: 15px;color:black; " href="" >Link: <%= result32 %> </a>
    <form action="key3" method="POST">
        <label style="position: relative;top:25px;color:black;left:20px;" for="">KEY</label>  <input style="position: relative;top:25px;color:black;left:22px;height: 20px;width: 300px " placeholder="HTB{Key}" type="text" name="key1">
        <br><br><br>
        <input style="margin-left: 15px; background-color: black;color:white;padding:8px 30px;border:1px solid white;" type="submit" value="submit">

      </form>    
    </div>

    <br>


    <div style="background-color:white; width:30%;height: 350px;float:left;margin-top: 40px; color: black;">
        <h2 style="color: white;background:black; height: 40px;text-align: center;padding-top: 10px; ">STEGNOGRAPHY</h2>
    <p style="font-size: 15px;padding-left: 20px;height: 80px;"><%= result41 %></p><br>
    <a style="padding-left: 20px;font-size: 15px;color:black; text-decoration: none;" href="" >Link: <span style="color:black; "><%= result42 %> </span></a>
    <form action="key4" method="POST">
        <label style="position: relative;top:25px;color:black;left:20px;" for="">KEY</label>  <input style="position: relative;top:25px;color:black;left:22px;height: 20px;width: 300px " placeholder="HTB{Key}" type="text" name="key1">
        <br><br><br>
        <input style="margin-left: 15px; background-color: black;color:white;padding:8px 30px;border:1px solid white;" type="submit" value="submit">

      </form>    
    </div>



    <div style="background-color:white; width:30%;height: 350px;float:left;margin-left:40px;  margin-top: 40px;">
        <h2 style="color: white;background:black; height: 40px;text-align: center;padding-top: 10px; ">WEB VULNERABILITY</h2>
    <p style="font-size: 15px;padding-left: 20px;height: 80px;color: black;"><%= result51 %></p><br>
    <a style="text-decoration: none; padding-left: 20px;font-size: 15px;color:black; " href="" >Link: <%= result52 %> </a>
    <form action="key5" method="POST">
        <label style="position: relative;top:25px;color:black;left:20px;" for="">KEY</label>  <input style="position: relative;top:25px;color:black;left:22px;height: 20px;width: 300px " placeholder="HTB{Key}" type="text" name="key1">
        <br><br><br>
        <input style="margin-left: 15px; background-color: black;color:white;padding:8px 30px;border:1px solid white;" type="submit" value="submit">
      </form>    
    </div>




    <div style="background-color:white; width:30%;height: 350px;float:left;margin-left:40px;  margin-top: 40px;">
        <h2 style="color: white;background:black; height: 40px;text-align: center;padding-top: 10px; ">NETWORK</h2>
    <p style="font-size: 15px;padding-left: 20px;height: 80px;color: black">Link:<%= result61 %></p><br>
    <a style="text-decoration: none; padding-left: 20px;font-size: 15px;color:black; " href="" > <%= result62 %> </a>
    <form action="key6" method="POST">
        <label style="position: relative;top:25px;color:black;left:20px;" for="">KEY</label>  <input style="position: relative;top:25px;color:black;left:22px;height: 20px;width: 300px " placeholder="HTB{Key}" type="text" name="key1">
        <br><br><br>
        <input style="margin-left: 15px; background-color: black;color:white;padding:8px 30px;border:1px solid white;" type="submit" value="submit">

      </form>   

      
    </div>

<br><br><br><br>
<h2 style="color: black; margin-top: 20px;text-align:center;">Victory belongs to those  who believe in it the hardest.. the longest..</h2>
   


 
</body>
</html>